@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font: 400 16px/1.5 "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
